header {
    background: rgb(230, 194, 36);
}

h1 {
    display: inline;
}

#logo {
    width: 250px;
}

nav {
    display: inline-block;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}