header {
    background: rgb(230, 194, 36);
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1 {
    display: inline;
}

#logo {
    width: 250px;
    margin: 20px;
}

nav {
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 82px;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.produtos {
    width: 1136px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 20px 0;
    border-color: red;
    border-width: 3px;
    border-style: solid;
}

.item {
    width: 350px;
    height: 260px;
}

.produtos li h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.produtos li p {
    margin-top: 10px;
    font-size: 20px;
}